
body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1{
    
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    margin:50px auto 0 auto;
    color: #66bfbf;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66bfbf;
    font-weight: normal;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999e;
}
a{
    color:#11999e;
}
.top-container{
    background-color:#eaf6f6 ;
    padding-top:100px ;
    position: relative;
}
.middle-container{

}
.face{
    border-radius: 100%;
}
.bottom-container{
    background-color: #66bfbf;
    padding-bottom: 50px;
}
.bottom-cloud{
    position: absolute;
    bottom: 300px;
    left: 300px;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}
.computerpic{
    border-radius: 100%;
    width: 25%;
    float: left;
    margin-right: 30px;
}
.websitepic{
    width: 25%;
    float: right;
    margin-left: 30px;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;

}
hr{
    
    border-style: dotted none none;
    border-color: #eaf6f6;
    border-width: 5px;
    height: 0px;
    width: 5%;
 
}
.footer-link{
    position: relative;
    top: 35px;
    color: #11999e;
    text-decoration: none;

}
a:hover{
    color: hotpink;
}
.bottom-container p{
    position: relative;
    top:50px;
    color: #eaf6f6;
}
.contact-me{
    padding-bottom: 150px;
}
